@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">EVideojuegos</h1>
    <section>
        <img src="~/images/callofduty.jpg" alt="">
        <img src="~/images/devilmaycry.jpg" alt="">
        <img src="~/images/fifa23.jpg" alt="">
        <img src="~/images/godofwar.jpg" alt="">
        <img src="~/images/thelastofus.jpg" alt="">
    </section>
</div>
