@model Parcial1.ViewModels.ViedeojuegoViewMOdel;

@{
    ViewData["Title"] = "Create";
}

<h1>Crear juego</h1>
<hr>
<h4>Videojuego</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desarrollador" class="control-label"></label>
                <input asp-for="Desarrollador" class="form-control" />
                <span asp-validation-for="Desarrollador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestriccionEdad" class="control-label"></label>
                <select asp-items="ViewBag.ViedeojuegoType" asp-for="RestriccionEdad" class="form-control"></select>
                <span asp-validation-for="RestriccionEdad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneroId" class="control-label"></label>
                <select asp-for="GeneroId" class ="form-control" asp-items="ViewBag.Generos"></select>
            </div>
            @* <select class="" multiple asp-for="MenuIds" id="Menus" asp-items="ViewBag.Menus" placeholder="select members" class="form-control w-50 dropdown">
            </select> *@
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
